*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	font-size: 15px;
	font-family: "Montserrat", sans-serif;
}

h1{
	font-family: "Dela Gothic One", sans-serif;
}

a{
	color: inherit;
	text-decoration: none;
}